[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Working Point
Comment=Calcul the Working Point from motor curves
Exec=working-point.desktop-launch
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Development;
